@tailwind base;

@tailwind components;

@tailwind utilities;

/*
  greyscale img:  #F2786D;
  green img:      
*/

header, footer {
  border-color: #5FA845;
}

.header .img {
  border-color: #425059;
}

header a, main a {
  color: #5FA845;
}

a:hover {
  text-decoration: underline;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #5FA845;
}

ul, ol {
  padding-left: 2em;
}