@tailwind base;

@tailwind components;

@tailwind utilities;

:root {
  --green: #5FA845; /* orignal img */
  --coral: #F2786D; /* greyscale img */
}

header, footer {
  border-color: var(--green);
}

header a, main a {
  color: var(--green);
}

a:hover {
  text-decoration: underline;
}

footer a {
  color: #555;
}

footer a:hover {
  color: var(--green);
}

ul, ol {
  padding-left: 2em;
}