@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #158143; /* bg-green-700 */
  font-size: 1.5em;
  @media (min-width: 768px) { 
    font-size: 2em;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary: #7ABD62;
  }
}

hr {
  border: 1px solid var(--primary);
}

header a, main a, .green {
  color: var(--primary);
}

a:hover {
  text-decoration: underline;
}

#cv {
  border: 1px solid var(--primary);
  padding: 0.1em 0.5em;
  border-radius: 0.5em;
  color: unset;
}

#cv:hover {
  color: var(--primary);
  text-decoration: none;
}

footer a:hover {
  color: var(--primary);
}

.paper ion-icon, .poster ion-icon {
 pointer-events: none; 
}

.me {
  text-decoration-color: var(--primary);
}

@font-face {
  font-family: 'ring';
  src: url('src/ringbearer.ttf');
}

.ringbearer {
  font-family: 'ring', serif;
}
