@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #158143; /* bg-green-700 */
  font-size: 1.3em;
  @media (min-width: 768px) { 
    font-size: 2em;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary: #7ABD62;
  }
}

hr {
  border: 1px solid var(--primary);
}

header a, main a, .green {
  color: var(--primary);
}

a:hover {
  text-decoration: underline;
}

footer a:hover {
  color: var(--primary);
}

.paper ion-icon, .poster ion-icon {
 pointer-events: none; 
}

.me {
  text-decoration-color: var(--primary);
}